.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8.7rem;
  background: #fff;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);

  li {
    margin: 0 2rem 0 2rem;
  }

  div {
    width: 1.6rem;
    height: 0.2rem;
    background: #fff;
    margin: auto;
    margin-top: .2rem;
  }
}
