.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 8.7rem;
  background: #fff;
  box-shadow: 3px 5px 15px rgba(0, 0, 0, 0.1);
  padding-left: 3rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 18vw;
  width: 100%;
  // margin-bottom: 12rem;

  li {
    margin: 0 2rem 0 2rem;
  }

  div {
    width: 1.6rem;
    height: 0.2rem;
    background: #fff;
    margin: auto;
    margin-top: 0.2rem;
  }

  @media (max-width: 1230px) {
    display: none;
  }
}
